
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="site.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="baslik">
      <h2>Güncelle</h2>
      <h2>Ekle</h2>
    </div>
    <div class="container">
      <div class="ekle">
        <label for="email">Marka</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Model</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Fiyat</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Isletim Sistemi</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">İşlemci</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">İşlemci Modeli</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">İşlemci Hızı</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Ram</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Ram Türü</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Disk Kapasitesi</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Ekran Boyutu</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Çözünürlük</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Ağırlık</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="guncelle">
        <label for="email">Marka</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Model</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Fiyat</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Isletim Sistemi</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">İşlemci</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">İşlemci Modeli</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">İşlemci Hızı</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Ram</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Ram Türü</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Disk Kapasitesi</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Ekran Boyutu</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Çözünürlük</label>
        <input type="email" name="email" id="email" />
        <hr />
        <label for="email">Ağırlık</label>
        <input type="email" name="email" id="email" />
      </div>
    </div>
    <style>
        .container {
  display: flex;
  width: 1920px;
  height: 1000px;
}
.baslik {
  width: 1920px;
  height: 70px;

  display: flex;
}
.baslik h2 {
  background-color: brown;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  margin-left: 150px;
  padding: 20px 20px;
}
.ekle {
  width: 400px;
  height: 600px;
  background-color: aliceblue;
  border: 2px solid grey;
  border-radius: 10px;
  text-align: center;
  margin-left: 50px;
  margin-top: 30px;
}
.ekle input {
  width: 200px;
  height: 20px;
  margin-top: 10px;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 20px;
  float: right;
}
.ekle label {
  background-color: aqua;
  width: 100px;
}
.guncelle {
  width: 400px;
  height: 600px;
  background-color: bisque;
  border: 2px solid grey;
  border-radius: 10px;
  text-align: center;
  margin-left: 50px;
  margin-top: 30px;
}
.guncelle input {
  width: 200px;
  height: 20px;
  margin-top: 10px;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 20px;
  float: right;
}
.guncelle label {
  background-color: aqua;
  width: 100px;
}

    </style>
  </body>
</html>
