@{
    Layout = null;
    var xxx = (List < String > )ViewData["Trendyol"];
}

<html>
    <head>
        <link rel="stylesheet" href="~/Content/Css/List.css">
    </head>
    <body>
      <div class="nav">
          @xxx[0];
          @xxx[1];
          @xxx[2];

      </div>
    </body>
</html>