@{
    Layout = null;
    var xxx = (List < String > )ViewData["Trendyol"];
}

<html>
    <head>
        <link rel="stylesheet" href="~/Content/Css/List.css">
    </head>
    <body>
      <div>
          @xxx[0];
          kjhlokçmlmmuby9ouıpopö
      </div>
    </body>
</html>